{% extends 'base.html' %}{% block content %}
<h2 class="auth-title">Connection</h2>
<p style="color: red">{{ message }}</p>
<form method="post" class="login-form">
  {% csrf_token %} {% for field in form %}
  <div class="form-group">
    <label for="{{ field.auto_id}}">{{ field.label }}</label>
    {{field}}
  </div>
  {% endfor %}
  <button type="submit" class="btn">Se connecter</button>
</form>
<p>
  Pas encore membre ?
  <a href="{% url 'signup' %}"> Inscrivez-vous maintenant !</a>
</p>
{% endblock content %}
